<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ROCK PAPER SCISSOR</title>
	<link rel="stylesheet"  href="style.css">
	<link rel="website icon" href="pis.png">
</head>
<body
	class = "play">
	<h1> Let's Play!</h1>
	<p>Hello <%= session[:name] %></p>
	<p>You have <%= session[:rounds] %> rounds.</p>
	<p>Round <%= session[:results].length + 1%> of <%= session[:rounds]%></p>
	<p>You have <%= session[:rounds] %> rounds. </p>
	<p>Your move:</p>
	<form action="/results" method= "POST">
		<input type="radio" name="choice" 
		value= "Rock">Rock
		<input type="radio" name="choice"
		value= "Paper">Paper
		<input type="radio" name="choice"
		value= "Scissor">Scissor
		<br>
		<input type="submit" value="SUBMIT">

</body>
</html>