<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RESULT</title>
	<link rel="stylesheet"  href="style.css">
	<link rel="website icon" href="pis.png">
</head>
<body
	class = "result">
	<h1>RESULTS:</h1>
		<h4>You Win: <%= session[:win_count] %></h4>
		<h4>You Lose: <%= session[:lose_count] %></h4>
		<h4>Draw: <%= session[:draw_count] %></h4>
	<% session[:results].each_with_index do |round, index| %>
		<h2>Round <%= index + 1%></h2>
		<h4>Player choice: <%= round[:player] %></h4>
		<h4>Computer's choice: <%= round[:computer] %></h4>
	<% end %>

	<a class="button" href="/">Play again</a>
</body>
</html>
